<!-- basic html template -->
<html>
    <head>
        <titl>Classes</titl></title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
    </body>
    

    <script>
    </script>

</html>