<!-- basic ejs page with welcome message and link to 5 tabs -->
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <h1>Welcome to the School Management System</h1>
        <h2>Click on the tabs to navigate</h2>
        <nav>
            <ul class="tab">
                <li><a href="/teacher/classes">Classes</a></li>
                <li><a href="/teacher/students">Students</a></li>
                <li><a href="/teacher/teachers">Teachers</a></li>
            </ul>
        </nav>
    </body>
    
    <script>
    </script>
</html>